*.v.d
*.vo
*.glob
*.aux
*.bbl
*.out
*.pdf
*.log
*.blg
theories/defU.tex
theories/groupoid.tex
theories/groupoid_interpretation.tex
theories/groupoid_interpretation_def.tex
theories/notations.tex
Makefile.bak
theories/fun_ext.tex